[user]
	name = Ben Sedat
	username = bsedat
	email = bsedat@tinfoilsecurity.com
[core]
	excludesfile = /Users/bsedat/.gitignore_global
[alias]
	wtf = !git-wtf
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	publish = !git push origin $(git rev-parse --abbrev-ref HEAD)
	cleanup-local = !git branch --merged | grep -v '*' | xargs -n 1 git branch -d
	cleanup-origin = !git branch --remote --list origin* --merged | grep -v 'origin/master$' | sed 's/origin\\///' | xargs -n 1 -I BRANCH git push origin :BRANCH
	cleanup = !git cleanup-local && git cleanup-origin
[color]
	ui = auto
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[help]
	autocorrect = 15
