*
!\.*
#!\.*/*
#.Trash
#.cups
#.dropbox
#.fontconfig
.DS_Store
*history
.AWS-Credentials
.AWS-Credentials-Export
.CFUserTextEncoding
.Xauthority
.dbshell
.lesshst
.oh-my-zsh/
.rnd
.vim/
.viminfo
.zcompdump
.zsh-update
.zshrc.pre-oh-my-zsh
.netrc
.trash
.showoffrc
.zcompdump*
