*
!\.*
!.bundle/config
.DS_Store
.*-credentials-export
.CFUserTextEncoding
.Xauthority
.dbshell
.lesshst
.oh-my-zsh/
.rnd
.vim/
.viminfo
.zsh-update
.zshrc.pre-oh-my-zsh
.netrc
.trash
.showoffrc
.zcompdump*
.ivy2/
.*_history
.*_hist
.atom
.dockercfg
.erlang.cookie
.v8*
.ovftool*
.zgen/
.flyrc
.dialyxir*
